Mismatch in link-bandwidth description

There is a mismatch in the unit description of link-bandwidth extended community.
https://openconfig.net/projects/models/schemadocs/yangdoc/openconfig-bgp.html
Above link shows,
bgp-ext-community-type
description:
Type definition for extended community attributes. In the case that common communities are utilised, they are represented as a string of the form: - <2b AS>:<4b value> per RFC4360 section 3.1 - <4b IPv4>:<2b value> per RFC4360 section 3.2 - <4b AS>:<2b value> per RFC5668 section 2. - route-target:<2b AS>:<4b value> per RFC4360 section 4 - route-target:<4b IPv4>:<2b value> per RFC4360 section 4 - route-origin:<2b ASN>:<4b value> per RFC4360 section 5 - route-origin:<4b IPv4>:<2b value> per RFC4360 section 5 - color::<4b value> per draft-ietf-idr-segment-routing-te-policy section 3 - link-bandwidth:<2 byte asn>: per **draft-ietf-idr-link-bandwidth-07**

As per draft-ietf-idr-link-bandwidth-07, link-bandwidth should be in bytes/sec as below.
"The bandwidth of the link is expressed as 4
   octets in IEEE floating point format, units being bytes (not bits!)
   per second."

But in the below yang model file, its mentioned as bits/sec which is a mismatch.
https://github.com/openconfig/public/blob/master/release/models/bgp/openconfig-bgp-types.yang
typedef bgp-ext-community-type {
.....
type string {
        // Extended Link Bandwidth Community
        // link-bandwidth:<2 byte asn>:<bandwidth value in **bits/sec**,
        //           optionally with Kilo/Mega/Giga suffix>
        // Example: link-bandwidth:20:100M
}
}

Please check this and change bits/sec in yang model file to bytes/sec.

  The OC model intentionally represents the configuration value as bits/sec .  Using a ieee float32 value in configuration is not easy to read or work with as a human.  The configuration format does not need to match the encoding format on the wire.  