Yang 1.1

What issues will we have if a vendor only supports Yang 1.1?

[RFC 7950 section 1.1](https://datatracker.ietf.org/doc/html/rfc7950#section-1.1) lists backward-incompatible changes introduced in yang 1.1