openconfig-mpls-ldp.yang : introduction session-state leaf for ldp neighbors

Dear OC Community,

I would like to propose a new leaf session-state for ldp neighbor, which is similar to the one we can find in IETF model for LDP.
https://tools.ietf.org/html/draft-ietf-mpls-ldp-yang-09

/network-instances/network-instance/mpls/signaling-protocols/ldp/neighbors/neighbor/state/session-state

typedef mpls-ldp-session-state {
  type enumeration {
    enum NON-EXISTENT {
      description "NON EXISTENT state. Transport disconnected.";
    }
    enum INITIALIZED {
      description "INITIALIZED state.";
    }
    enum OPENREC {
      description "OPENREC state.";
    }
    enum OPENSENT {
      description "OPENSENT state.";
    }
    enum OPERATIONAL {
      description "OPERATIONAL state.";
    }
  }
  description
  "enumerated type for specifying operational status of the LDP session.";
}


Would you please review?

Thanks,
Thomas

It's probably a reasonable addition. A handful of comments to start with:
* Are you willing to propose this in a PR that we can shepherd?
* I recognize that you copied that almost verbatim from the IETF model; would it be possible to better describe those states in the `description` statements?
* Is that the correct location for it? I suspect it should be slightly deeper under `hello-adjacencies` so that it refers to specific sessions.
* Is there other useful state data we are missing and should include?

It's probably a reasonable addition. A handful of comments to start with:

Are you willing to propose this in a PR that we can shepherd?

> I can go ahead with a PR. It will be great if you can provide guideline/procedures for the PR.

I recognize that you copied that almost verbatim from the IETF model; would it be possible to better describe those states in the description statements?

> The description for each enum will be very elaborate. It will be good if a reference can be provided to the rfc and the section nos.
>          reference
>           "RFC5036, Sec. 2.5.4.";

Is that the correct location for it? I suspect it should be slightly deeper under hello-adjacencies so that it refers to specific sessions.

>the location for it is correct. The session-state is applicable for each of the neighbor, not for the hello adjacency.
> /network-instances/network-instance/mpls/signaling-protocols/ldp/neighbors/neighbor/state/session-state

Is there other useful state data we are missing and should include?

> These five states NON-EXISTENT, INITIALIZED, OPENREC, OPENSENT, OPERATIONAL is as per the RFC and is complete list of states.