Some union types have string before other datatypes

When a (unconstrained) string appears before other types in a union, the other types cannot be properly used which may cause unintended side effects.

This issue tracks finding these occurrences and fixing them by reordering the union.

See also [RFC 6020 Section 9.12](https://datatracker.ietf.org/doc/html/rfc6020#section-9.12)
```
   When a string representing a union data type is validated, the string
   is validated against each member type, in the order they are
   specified in the "type" statement, until a match is found.
```

+1 to @jsterne comment - I see this as a gap in initial definition that leads to ambiguity and don't think an additional leaf and deprecation of the existing is warranted but rather cleanup of existing (I believe we already did this to some leafs a few yrs back ad-hoc) and develop guidelines (and possibly CI checks) going fwd when it comes to union defintions.

I suspect the overall impact to be near nil today.  It would be good to see if we have any distinct cases where this cascades into maybe unexpected TypedValue encodings in gNMI