OpenConfig AAA leaf-list ordering

The "authentication-method" leaf-list in the "aaa-authentication-config" grouping uses an "ordered-by user" statement (along with an appropriate description) to indicate the server priority and that makes sense to me.
I noticed that the "authorization-method" leaf-list in the "aaa-authorization-methods-config" grouping contained a similar description as the "authentication-method" leaf-list but does not contain the "ordered-by user" statement.  Could that statement be added?  I also see the "accounting-method" leaf-list in the "aaa-accounting-methods-common" grouping didn't have the description or the "ordered-by user" statement, but I think there is a benefit to that leaf-list being ordered as well.
 
I’m also curious as to how the server-groups and server list works in terms of priority with the AAA-method leaf-lists. 

From my perspective the server groups could be defined like this:

- Server_Group_Accounting:   # A server-group named "Server_Group_Accounting" has two servers in the "server" list
   - Server_Accounting      # Add a TACACS server named "Server_Accounting" that only supports TACACS accounting
   - Server_All             # Backup server that supports AAA

- Server_Group_Authorization:# A server-group named "Server_Group_Authorization" has two servers in the "server" list
   - Server_Authorization   # Add a TACACS server named "Server_Authorization" that only supports TACACS authorization
   - Server_All             # Backup server that supports AAA

- Server_Group_Authentication: # A server-group named "Server_Group_Authentication" has two servers in the "server" list
   - Server_Authentication    # Add a TACACS server named "Server_Authentication" that only supports TACACS authentication
   - Server_All               # Backup server that supports AAA

But unless the "server" list under the "server-group" list indicates the priority I'm not sure this would correctly choose my primary server over my backup server.  Am I misunderstanding how this is used?

I think I could creating multiple server-groups each with one server to get the above behavior - but I feel like that is not the usage intent.


I have made the above changes in this forked repository if anyone wanted to take a look: [https://github.com/atomicbaum1/public/commit/5fe66ad8fa0d8e7d3a7925a2e341b98bf4d2d897#diff-5a887eb159a41a8073ae3925ea4611e2](https://github.com/atomicbaum1/public/commit/5fe66ad8fa0d8e7d3a7925a2e341b98bf4d2d897#diff-5a887eb159a41a8073ae3925ea4611e2)

- I added "ordered-by user" to the "authorization-method" leaf-list to align with the description.
- I added "ordered-by user" to the "accounting-method" leaf-list and updated the description. I think there is benefit in ordering the accounting-method list since the same requirements may apply to accounting method as it does the authorization and authentication methods.
- I added "ordered-by user" to the "server" list in the "server-groups" list.  I may not be understating the how this is used, however.


This is just my understanding. 

the reason authentication container has the "ordered-by-the-user" is because the authentication container also has a list of usernames and hence the authentication methods could be  ordered-by-user.

But the authorization and the accounting containers dont have the usernames and hence they are not ordered by user.

[RFC 6020 section 7.7.1](https://tools.ietf.org/html/rfc6020#section-7.7.1) describes two types of YANG ordering using the ["ordered-by"](https://tools.ietf.org/html/rfc6020#section-7.7.5) statement, ["ordered-by system"](https://tools.ietf.org/html/rfc6020#section-7.7.5.1) and ["ordered-by user"](https://tools.ietf.org/html/rfc6020#section-7.7.5.2).

- ["ordered-by system"](https://tools.ietf.org/html/rfc6020#section-7.7.5.1) is used where the order of the list does not matter (the system decides the order).
- ["ordered-by user"](https://tools.ietf.org/html/rfc6020#section-7.7.5.2) is used when the order does matter and the user is responsible for ordering the entries and the device preserves that order.

In this case, authentication-method leaf list is ordered according to the description and according to the "ordered-by user" statement.  This means the first server in the list is tried before the next.  A server list ordered "B, C, A" will be tried in that order (B, then C, then A).
  
If the list was "ordered-by system" instead then it is up to the application to determine the order which may not be what the user wants.

Since the authorization-method has the description including "Ordered list" but does not contain the "ordered-by user" statement, I think the intent was to add "ordered-by user" to the leaf-list.

> leaf-list authorization-method {
>       type union {
>         type identityref {
>           base oc-aaa-types:AAA_METHOD_TYPE;
>         }
>         type string;
>       }
>       description
>         "Ordered list of methods for authorizing commands.  The first
>         method that provides a response (positive or negative) should
>         be used.  The list may contain a well-defined method such
>         as the set of all TACACS or RADIUS servers, or the name of
>         a defined AAA server group.  The system must validate
>         that the named server group exists.";
>     }
>   }

There is benefit in having all server lists ordered-by user so everyone can easily determine server priority.

@aashaikh @robshakir - could this one be looked at as almost 2yo.  Since some items cannot be addressed via deviations, the only 2 solutions from an implementation standpoint are to edit upstream models or diverge the schema tree completely

fixed by #517 

Ah I see my error,  this was fixed in the [private 'models'  repo](https://github.com/openconfig/models/pull/541) back in 2018, then combined with a bunch of other private models repo changes which were merged into the 'public' OpenConfig repo.  We no longer maintain the private models repository.  I will create a PR here in the public repository to import this old change.

Corrected reference for this fix is with this commit: https://github.com/openconfig/public/commit/06b33ff792b5533081680e637c3243749c0bee5a. (no associated PR) 

