openconfig-evpn -- invalid leafref path reference

https://github.com/openconfig/public/blob/ed650bd969afc2eb5f66d60b86b62ffa6fd5fb8e/release/models/network-instance/openconfig-evpn.yang#L712-L725

* `leafref` `xpath` value is being absolute with no namespace defined.
* the referenced node belongs to `openconfig-network-instance` module which is never referenced
  (imported) from out of `openconfig-evpn`

details: 
according to RFC -- see https://datatracker.ietf.org/doc/html/rfc7950
```
#section-9.9.2  The path Statement

   The "path" expression evaluates to a node set consisting of zero,
   one, or more nodes.  If the leaf with the leafref type represents
   configuration data, this node set MUST be non-empty.

#section-6.4.1   XPath Context

   o  Names without a namespace prefix belong to the same namespace as
      the identifier of the current node.  Inside a grouping, that
      namespace is affected by where the grouping is used (see
      Section 7.13).  Inside a typedef, that namespace is affected by
      where the typedef is referenced.  If a typedef is defined and
      referenced within a grouping, the namespace is affected by where
      the grouping is used (see Section 7.13).
```
so the xpath of a leafref references `/network-instances/network-instance` node (and child nodes)
which is expected within `openconfig-evpn` by default but being non defined.

it makes the module invalid if validated in a standalone context. also it requires every module (importing
`openconfig-evpn`) to have the `/network-instances/network-instance` data structure defined.

suggested transforming the `openconfig-evpn` into submodule of  `openconfig-network-instance`
(similar to `openconfig-network-instance-l2`)

You'll find this pattern throughout the modules that are instantiated only within the `network-instance` module, so I do not propose that we should make the change suggested.

The module itself can't really be validated alone because it doesn't instantiate any nodes, it just creates groupings - so there is never anything placed into the schema tree by the node. 

I'm not quite clear what you mean by every module that imports the EVPN model needs to have those structures defined. Are you trying to use this outside of the OpenConfig modules?

The reason for keeping this as a module is that it can be independently versioned according rather than versioned according to the entire network instance (in the limit that everything was a submodule, there'd be one huge module set that must all be versioned together) which is not clear when users come to trying to identify what has changed.

Thanks for the feedback.

we currently trying to use the `openconfig` models (including network-instance) in our project, however we faced an issue with model validation. software used is `yangtools` library (maven plugin), part of `opendaylight`. closer analysis indicates an issue with the model, because the requirements of RFC (mentioned) are not fulfilled.

so we just cannot use the model provided because it cannot pass the validation in a context of RFC.

the ability to instantiate any node plays no role. 
if its defined as module then it's a complete (with imports) self-sufficient entity. 
if it can be imported into one module but cannot into another then this module is invalid.

according to RFC

* if you set the `path` value of `leafref` to absolute one, then the referenced node should exist. 
* if namespace is not provided then the referenced structure is expected at the namespace the node with current path belongs to.
* if the referenced node belongs to other namespace that namespace require to be explicitly defined.

the resolution approach is up to you/team. i'm fine with any which leads to model validation resolved.

thanks for your reply, regards



I'm not clear what your toolchain does - we run integration tests against a number of different tools (including those that are used in the IETF toolchain) to validate the modules that we publish, and this model passes. 

I'd point you to RFC6020 section 9.9.2 here:

```
   The "path" XPath expression is conceptually evaluated in the
   following context, in addition to the definition in Section 6.4.1:

   o  The context node is the node in the data tree for which the "path"
      statement is defined.
```

The context node here is the node in the data tree -- a grouping does not appear in the schema tree, and therefore cannot appear in the data tree. Per the following definitions in RFC6020 (emphasis: "**" added):

```
   o  grouping: A reusable set of schema nodes, which may be used
      locally in the module, in modules that include it, and by other
      modules that import from it.  **The grouping statement is not a data
      definition statement and, as such, does not define any nodes in
      the schema tree.**
```

Given this case, then the schema tree for the `openconfig-evpn` module is nil. The `leafref` `path` statement should only be validated where the leaf is present in the data tree, which is within `openconfig-network-instance`.

I'd request that you examine your tooling to determine why there is an expectation that path statements would need to be evaluated outside of the context of the schema or data tree.

One fix that we could make (although I do not think that it is required) is to define this reference within the `openconfig-network-instance` module as a `typedef` and then subsequently `use` it in this module, however, that in and of itself creates problems since there will be a circular import.
